<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Geo location app for 24sessions</title>
    <meta name="description" content="Simple geo location service">
    <meta name="author" content="John Doe">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        .geo-response {
            margin-top: 1em;
        }

        .geo-button {
            padding: 5px;
        }
    </style>
</head>
<body>

{% if client_ip %}
    <div>
        You IP address is {{ client_ip }}
        <button id="getGeoLocation" class="geo-button">Get geo-location</button>
    </div>

    <div id="geoResponse" class="geo-response"></div>

{% else %}
    Please try service later.
{% endif %}

<script src="/js/geo.js"></script>

</body>
</html>
